#header {
    width: 100%;
    height: 120px;
    padding: 5px;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    padding: 2px;
    margin-right: 15px;
}

.margin {
    margin-left: 10px;
    margin-right: 5px;
}