.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
}